html(lang="en")
  include components/head.pug
  
  body
    img(src='image.jpg', alt="Random Daily Image")
    
    form(action=todosClientURL, method="POST") 
      input(type="text", name="todoText", aria-label="TODO Text", maxlength="140")
      input(type="submit")
    
    mixin todoElement(todoId, todoText)
      div(style="display:flex;")
        span= todoText
        button(onclick=`deleteTodo(${todoId})`) Done

    each todo in todos
      +todoElement(todo.id, todo.value)

    script.
      function deleteTodo(todoId) {
        fetch('!{todosClientURL}', {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ todoId })
        }).then(() => document.location.reload())
      }