html(lang="en")
  include components/head.pug
  
  body
    img(src='image.jpg', alt="Random Daily Image")
    
    form(action=todosClientURL, method="POST") 
      input(type="text", name="todoText", aria-label="TODO Text", maxlength="140")
      input(type="submit")
    
    each todo in todos
      div= todo.value